html {
  box-sizing: border-box;
}

body {
  background: #181818;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

.title {
  color: #7F7E7E;
  font-size: 22px;
  padding: 10px 0 20px 0;
}

.container {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.pageContent {
  margin-top: 50px;
}

.nav {
  background: #010101;
  display: flex;
  height: 55px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navLogo {
  padding: 5px 20px;
}
.navLogo img {
  height: 45px;
}

ul {
  color: #F0F0F0;
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
}
ul li {
  padding: 0px 20px;
  z-index: 3;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
  height: 50vh;
}

.logoBox {
  margin: auto;
  max-width: 800px;
}
.logoBox img {
  width: 100%;
}

.content {
  background: #7F7E7E;
  text-align: center;
}

.featuredTitle {
  color: #181818;
  font-size: 22px;
  padding: 10px 0 20px 0;
}

.featuredPosts {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding: 10px 0 50px 0;
}

.postCard {
  position: relative;
  flex: 1 0 50%;
  background: #F0F0F0;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5);
  width: 40%;
  max-width: 300px;
  margin-bottom: 40px;
}

.postCardImage {
  width: 100%;
}
.postCardImage img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.postCardTitle {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

.postCardSecondary {
  color: #7F7E7E;
  font-size: 16px;
  font-style: italic;
  padding-left: 15px;
  text-align: left;
  padding-bottom: 50px;
}

.green {
  background: #00C10D;
  transition: ease-in 0.2s;
}

.green:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  transition: ease-in 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}

.red {
  background: red;
  transition: ease-in 0.2s;
}

.red:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  transition: ease-in 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}

.postCardButton {
  position: absolute;
  margin-left: -50px;
  left: 81px;
  bottom: 0px;
  margin: auto;
  bottom: 0;
  padding: 10px;
}
.postCardButton button {
  border: none;
  border-radius: 10px;
  color: #181818;
  font-weight: 700;
  padding: 10px 20px;
}

.bbqContainer {
  margin: 30px auto;
}

.beardPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding: 10px 0 15px 0;
}

.largeButton {
  margin-bottom: 30px;
}

.moreBeardButton {
  background: #00C10D;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 40px;
  transition: ease-in 0.2s;
}

.moreBeardButton:hover {
  box-shadow: 0 0 7px 3px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.bbqPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding: 10px 0 15px 0;
}

.largeButton {
  margin-bottom: 30px;
}

.moreQButton {
  background: #FD1111;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 40px;
  transition: ease-in 0.2s;
}

.moreQButton:hover {
  box-shadow: 0 0 7px 3px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.about {
  color: #F0F0F0;
}

.aboutContent {
  background: #181818;
  padding: 50px;
}

.aboutContainer {
  margin: auto;
  max-width: 800px;
}

.aboutTextCard {
  background: #181818;
  border-radius: 10px;
  box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.5);
  color: #F0F0F0;
  padding: 5px;
  margin: 0 0 40px 0;
  width: 100%;
}
.aboutTextCard h1 {
  margin-bottom: -10px;
}
.aboutTextCard p {
  font-size: 18px;
  padding: 0px 20px;
  text-align: left;
}

.searchContent {
  background: #181818;
  padding-top: 50px;
  min-height: 80vh;
}

.searchInput input {
  border: none;
  border-radius: 2px;
  height: 25px;
  padding-left: 5px;
  margin-right: 10px;
}

.searchButton {
  background: #7F7E7E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 5.5px 15px;
  margin-top: 10px;
  height: 100%;
  transition: ease-in 0.2s;
}

.searchButton:hover {
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.noResultsText, .preSearch {
  color: #F0F0F0;
}

.searchPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding: 10px 0 15px 0;
}

.results {
  display: flex;
}

.noResults {
  display: block;
}

.resultsContent {
  margin-top: 50px;
}

.footer {
  postion: relative;
  bottom: 0;
  background: #010101;
  min-height: 170px;
}

.footerLogo {
  padding-top: 20px;
}
.footerLogo img {
  height: 75px;
}

.icon {
  padding-bottom: 10px;
}
.icon a {
  color: #F0F0F0;
}

/*# sourceMappingURL=app.css.map */
