.content
    background: $light-gray
    text-align: center
    
.featuredTitle
    color: $dark-gray
    font-size: 22px
    padding: 10px 0 20px 0

.featuredPosts 
    display: flex
    padding: 10px