.nav
    background: $black
    display: flex
    height: 55px
    justify-content: space-between
    position: fixed
    width: 100%
    top: 0
    z-index: 2

.navLogo
    padding: 5px 20px
    img
        height: 45px