.postCard
    margin: auto
    background: $off-white
    border-radius: 5px
    box-shadow: 0 0 7px 2px rgba(0,0,0,.5)
    width: 300px
    
.postCardImage
    width: 100%
    img
        height: 300px
        width: 100%
        object-fit: cover
        border-top-left-radius: 5px
        border-top-right-radius: 5px

.green 
    background: $light-green
    transition: ease-in .2s

.green:hover
    background: $dark-green
    transition: ease-in .2s
    transform: scale(1.1)
    cursor: pointer

.red 
    background: $light-red
    transition: ease-in .2s

.red:hover
    background: $dark-red
    transition: ease-in .2s
    transform: scale(1.1)
    cursor: pointer