.searchContent
    background: $dark-gray
    padding-top: 50px
    min-height: 80vh

.noResultsText 
    color: $off-white

.searchPosts 
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin: auto
    width: 100%
    padding: 10px 0 15px 0

.results
    display: flex

.noResults
    display: block

.resultsContent
    margin-top: 50px